@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.img-login {
  /* The image used */
  background-image: url("../assets/img-login.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 640px) {
  .img-login {
    background-position: 100% 0%;
    background-size: contain;
  }
}

li .sidemenu {
  margin-bottom: 14px;
}

li .list {
  width: 25%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}

.profilenav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}